* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* --- header contenido de profesor --- */
header .contenedor {
overflow: hidden;
}

header .contenedor .menu {
  float: right;
}

header .contenedor .logo img {
  width: 200px;
  border-radius: 5px;
}
header .contenedor .menu .perfil img{
  width: 40px;
  border-radius: 30px;
}

/* ------ Body-----*/

.main .laboratorios {
  background: #f3f3f3;
  padding: 60px 0;
}

.main .laboratorios .contenedor {
  overflow: hidden;
}

.main .laboratorios .contenedor .titulo {
  font-size: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #323068;
  text-align: center;
  line-height: 30px;
}
.main .laboratorios .contenedor-laboratorios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .laboratorios .contenedor-laboratorios .lab {
  width: 30%;
  margin-bottom: 40px;
}

.main .laboratorios .contenedor-laboratorios .lab .thumb {
  width: 100%;
  margin-bottom: 10px;
}

.main .laboratorios .contenedor-laboratorios .lab .thumb img {
  width: 100%;
  vertical-align: top;
  border-radius: 5px;
}

.main .laboratorios .contenedor-laboratorios .lab .descripcion {
  text-align: center;
}

.main .laboratorios .contenedor-laboratorios .lab .nombre {
  font-weight: 700;
  color: #3895ea;
  margin-bottom: 10px;
  text-decoration: none;
}

.main .laboratorios .contenedor-laboratorios .lab .categoria {
  font-size: 14ps;
  color: #636363;
}
