
header {
    background: #038f2d;
    
  }
  header .contenedor {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header .contenedor .logo img {
    width: 40px;
    border-radius: 30px;
  }




body{
    background: rgb(255, 255, 255);
  }
  
  .main .laboratorios {
    background: none;
    padding: 60px 0ox;
    margin: 55px 80px 10px 80px;
  }
  
  .main .laboratorios .contenedor {
    overflow: hidden;
  
  }
  
  .main .laboratorios .contenedor-laboratorios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main .laboratorios .contenedor-laboratorios .lab {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .main .laboratorios .contenedor-laboratorios .lab .thumb {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .main .laboratorios .contenedor-laboratorios .lab .thumb img {
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    opacity: 0.8;
    transition: opacity .5s;
    border: 3px solid #3894ea00;
  }
  .main .laboratorios .contenedor-laboratorios .lab .thumb img:hover{
    opacity: 1;
    border: 3px solid #3895ea;
  }
  
  .main .laboratorios .contenedor-laboratorios .lab .descripcion {
    text-align: center;
  }
  
  .main .laboratorios .contenedor-laboratorios .lab .nombre {
    font-weight: 700;
    color: #e43f0d;
    margin-bottom: 10px;
    text-decoration: none;
  }